* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  background-color: #1a8072;
  color: white;
  text-align: center;
  padding: 20px;
}
.header {
  font-size: 2rem;
  position: sticky;
  top: 0;
  left: 0;
}
.main {
  /* flex-grow: 1; */
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
}

.amountBalace {
  background-color: #1a8072;
  color: white;
  padding: 20px;
  display: flex;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.total {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  gap: 10px;
}
.formbg {
  background-color: rgb(132, 224, 224);
  padding: 20px;
}
input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.btnbgNone {
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.greenBtn {
  padding: 10px;
  background-color: #1a8072;
  color: white;
  border: none;
  border-radius: 5px;
}
.btnActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
.amtTransDetails {
  display: flex;
  gap: 10px;
}
.transaction_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.paraTrans {
  margin: 20px 0;
}
.income {
  background-color: aquamarine;
  padding: 16px;
}
.expense {
  background-color: rgb(210, 72, 72);
  padding: 16px;
}
/* Need to ask scrollbar behaviour */
/* .transactionDesc{
  height: 150px;
  overscroll-behavior: auto;
  scroll-behavior: smooth;
  scroll-padding: 10px;
  scroll-margin: 10px;
} */
